body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.Input {
  margin: 10px 0;

  label {
    font-size: 15px;
    color: #999;
    font-weight: 500;
    margin-bottom: 3px;
    display: block;
  }

  input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 0;
    border: 1px solid #999;
    box-sizing: border-box;
    outline: none;
  }
}

small {
  height: 16px;
  display: block;

  &.error {
    color: #c62828;
  }
}